extends layout

block content
  h1 Login
  p
    if message
      = message
  form(action="/login" method="post")
    p
      input(type="text" name="name" placeholder="Username")
    p
      input(type="password" name="pass" placeholder="Password")
    p
      input(type="submit" value="Login")
