let user = 'user';
let pass = 'pass';
let auth = user ? `${user}:${pass}@` : '';
let host = 'localhost';
let port = 27017;
let db = 'xxx';
const MongoUrl = `mongodb://${auth}${host}:${port}/${db}`;

const SiteSalt = 'xxxxxxxx';

const SessionSecret = 'xxxxxx';

const SessionKeys = {
    UserId: 'uid'
};

const ParamNames = {
    PageLimit: 'limit'
};

const HeaderPrefix = 'XX-';

const HeaderNames = {
    UserToken: HeaderPrefix + 'UserToken',
    Client: HeaderPrefix + 'Client',
    AppVersion: HeaderPrefix + 'AppVersion'
};

module.exports = {
    MongoUrl,
    SiteSalt,
    SessionSecret,
    SessionKeys,
    ParamNames,
    HeaderNames
};
